
:root {
    --accent-colour: #2196F3;
    --title-text-colour: #212121;
    --background-colour: #ffffff;
    --primary-text-colour: #757575;
    --icons-colour: #AFB1B8;
    --transparent-background: rgba(47, 48, 58, 0.8);
    --logo-color: #000000;
    --background-button-color: #757575;
}
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

ul {
    list-style: none;
}
body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-colour);
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
}


/* site-header */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1230px;
    outline: 2px solid tomato;
}
.page-header {
    background-color: var(--background-colour);
}
.logo {
    color: var(--logo-color);
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo .accent {
    color: var(--accent-colour);
}


.site-nav .nav-item {
    color: var(--title-text-colour);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration: none;
}

.site-nav .nav-item:hover,
.site-nav .nav-item:focus {
     color: var(--accent-colour)
    }

.contacts, .site-nav {
    margin-top: 0px;
    margin-bottom: 0px;
    }
.contacts .contacts-item {
    color: var(--primary-text-colour);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .nav-item-current {
    color: var(--accent-colour);
    text-decoration: none;
    text-decoration:none;
}

.contacts .contacts-item:hover,
.contacts .contacts-item:focus { 
    color: var(--accent-colour)
}

/* block hero */
.hero {
    text-align: center;
}
.hero .hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--background-colour);
background-color: var(--transparent-background);
margin-top: 0px;
margin-bottom: 30px;
}

/* button */
.modal-button {
    color: var(--background-colour);
    background-color: var(--accent-colour);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 136px;
    text-align: center;
    border: 1px solid transparent;
}

/* site-advantages */
.advantages {
    margin: 0px 0px;
}
.advantages-item:hover {
    color: var(--accent-colour);
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-colour);
    margin-bottom: 50px;
    margin-top: 0px;
}
.advantages .title {
    font-weight: 700;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-colour);
    margin-bottom: 10px;
    margin-top: 0px;
}
.advantages .text {
    font-weight: 400;
    line-height: 1.7;
    color: var(--primary-text-colour);
    margin: 0px 0px;
}

/* what-we-are-doing */
.list-activities {
    margin: 0px 0px;
}
.title-activities {
    font-weight: 700;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--background-colour);
    background-color: var(--transparent-background);
    margin: 0px 0px;
}

/* our-team */
.team .team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-colour);
}
.team .team-member-title {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-colour);
}

/* footer */
.footer {
 background-color:#2F303A ; 
}

.footer-adress .adress {
    line-height: 1.71;
    color: var(--background-colour);
    font-style: normal;
    text-decoration: none;
}

.footer-adress .contacts {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
}

.footer .appeal {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--background-colour);
}

/* styles for portfolio */      
/* button */
  .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    border: 1px solid transparent;
}
.button:hover,
.button:focus {
    background-color: var(--accent-colour);
    color: var(--background-colour);
}

/* our projects */
.projects {
    text-decoration: none;
}
.projects .project-title {
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--title-text-colour);
text-decoration: none;
}
.projects .project-item {
font-size: 16px;
line-height: 1.87;
color: var(--background-button-color);
text-decoration: none;
}
.projects .project-text {
font-size: 18px;
line-height: 1.56;
color: var(--icons-colour);
text-decoration: none;
}